/* UTILITIES */
:root {
	--color-primary: #ff900e;
	--color-secondary-light: #727272;
	--color-secondary-dark: #424242;
	--color-neutral-dark: #131313;
	--color-bg: #f3f3f3;
	--color-bg-primary: #fff4e7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Work Sans', sans-serif;
	background-color: var(--color-bg);
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

header,
.hero-section {
	background-color: var(--color-bg-primary);
}
header,
section,
footer {
	padding: 0 140px;
}
.section-title {
	font-weight: 700;
	font-size: 45px;
	color: var(--color-neutral-dark);
}
.section-description {
	line-height: 26px;
	color: var(--color-secondary-light);
}
.btn-primary {
	padding: 12px 20px;
	font-weight: 600;
	font-size: 20px;
	background-color: var(--color-primary);
	color: #fff;
	border: none;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.btn-primary:hover {
	background-color: rgb(255, 183, 0);
}
.btn-primary:active {
	background-color: olive;
}

/* NAVBAR */
.navbar {
	min-height: 100px;
	justify-content: space-between;
}
.logo h2 {
	font-weight: 700;
	font-size: 45px;
	color: var(--color-neutral-dark);
}
.nav-links {
	gap: 50px;
}
.nav-links li a {
	font-weight: 500;
	font-size: 18px;
	color: var(--color-secondary-dark);
	transition: color 0.2s ease-in-out;
}
.nav-links li a:hover {
	color: var(--color-primary);
}
.nav-links li a:active {
	color: olive;
}

/* HERO SECTION */
.hero-section {
	flex-direction: column;
}
.hero-contents-container {
	max-width: 860px;
	margin: 50px 0;
	text-align: center;
}
.hero-title {
	font-weight: 700;
	font-size: 64px;
	color: var(--color-neutral-dark);
}
.hero-contents-container .section-description {
	margin: 30px 0;
}
.hero-image img {
	width: 100%;
	margin-bottom: 50px;
}

/* QUICK LIST SECTION */
.quick-list-section {
	padding: 50px 180px;
	gap: 50px;
}
.quick-list-section .image-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}
.image-container img {
	width: 100%;
}
.list-contents-container {
	width: 80%;
}
.section-title .c-s-light {
	font-weight: 500;
	color: var(--color-secondary-light);
}
.section-title .c-primary {
	color: var(--color-primary);
}
.list-contents-container .section-description {
	margin: 30px 0;
}

/* FEATURES SECTION */

/* FACTS SECTION */

/* SPONSORS SECTION */

/* FOOTER */

/* ============= */
/* MEDIA QUERIES */
/* ============= */

/* MEDIUM DEVICES */
@media only screen and (max-width: 992px) {
	header,
	section,
	footer {
		padding: 0 80px;
	}
	.section-title {
		font-size: 38px;
	}
	.btn-primary {
		font-size: 18px;
	}

	/* NAVBAR */
	.navbar {
		padding: 20px 0;
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}
	.logo h2 {
		font-size: 38px;
	}
	/* HERO SECTION */
	.hero-title {
		font-size: 48px;
	}

	/* QUICK LIST SECTION */
	.quick-list-section {
		padding: 30px 100px;
		flex-direction: column-reverse;
		gap: 30px;
		text-align: center;
	}

	/* FEATURES SECTION */

	/* FACTS SECTION */

	/* SPONSORS SECTION */

	/* FOOTER */
}

/* SMALL DEVICES */
@media only screen and (max-width: 576px) {
	header,
	section,
	footer {
		padding: 0 20px;
	}
	.section-title {
		font-size: 32px;
	}
	.btn-primary {
		font-size: 16px;
	}

	/* NAVBAR */
	.logo h2 {
		font-size: 32px;
	}
	.nav-links {
		flex-direction: column;
		gap: 20px;
	}
	/* HERO SECTION */
	.hero-section {
		flex-direction: column-reverse;
	}
	.hero-contents-container {
		margin: 10px 0 30px 0;
	}
	.hero-title {
		font-size: 38px;
	}
	.hero-image img {
		margin: 20px 0;
	}

	/* QUICK LIST SECTION */
	.quick-list-section {
		padding: 30px 30px;
		flex-direction: column;
	}
	.quick-list-section .image-container {
		/* grid-template-columns: repeat(1, 1fr); */
		gap: 16px;
		margin-bottom: 20px;
	}

	/* FEATURES SECTION */

	/* FACTS SECTION */

	/* SPONSORS SECTION */

	/* FOOTER */
}
