/* UTILITIES */
:root {
	--color-primary: #ff900e;
	--color-secondary-light: #727272;
	--color-secondary-dark: #424242;
	--color-neutral-dark: #131313;
	/* --color-bg: #f3f3f3; */
	--color-bg: #ffff;
	--color-bg-primary: #fff4e7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Work Sans', sans-serif;
	background-color: var(--color-bg);
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

header,
.hero-section {
	background-color: var(--color-bg-primary);
}
header,
section,
footer {
	padding: 0 140px;
}
.section-title {
	font-weight: 700;
	font-size: 45px;
	color: var(--color-neutral-dark);
}
.section-description {
	line-height: 26px;
	color: var(--color-secondary-light);
}
.btn-primary {
	padding: 12px 20px;
	font-weight: 600;
	font-size: 20px;
	background-color: var(--color-primary);
	color: #fff;
	border: none;
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.btn-primary:hover {
	background-color: rgb(255, 183, 0);
}
.btn-primary:active {
	background-color: olive;
}

/* NAVBAR */
.navbar {
	min-height: 100px;
	justify-content: space-between;
}
.logo h2 {
	font-weight: 700;
	font-size: 45px;
	color: var(--color-neutral-dark);
}
.nav-links {
	gap: 50px;
}
.nav-links li a {
	font-weight: 500;
	font-size: 18px;
	color: var(--color-secondary-dark);
	transition: color 0.2s ease-in-out;
}
.nav-links li a:hover {
	color: var(--color-primary);
}
.nav-links li a:active {
	color: olive;
}

/* HERO SECTION */
.hero-section {
	flex-direction: column;
}
.hero-contents-container {
	max-width: 860px;
	margin: 50px 0;
	text-align: center;
}
.hero-title {
	font-weight: 700;
	font-size: 64px;
	color: var(--color-neutral-dark);
}
.hero-contents-container .section-description {
	margin: 30px 0;
}
.hero-image img {
	width: 100%;
	margin-bottom: 50px;
}

/* QUICK LIST SECTION */
.quick-list-section {
	padding: 50px 180px;
	gap: 50px;
}
.quick-list-section .image-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}
.image-container img {
	width: 100%;
}
.list-contents-container {
	width: 80%;
}
.section-title .c-s-light {
	font-weight: 500;
	color: var(--color-secondary-light);
}
.section-title .c-primary {
	color: var(--color-primary);
}
.list-contents-container .section-description {
	margin: 30px 0;
}

/* FEATURES SECTION */
.features-section {
	margin: 50px 0;
	justify-content: space-between;
	align-items: flex-start;
	gap: 50px;
}
.feature-contents-container {
	width: 75%;
}
.feature-contents .section-title {
	max-width: 460px;
	padding: 0 0 0 20px;
	margin-bottom: 24px;
	border-left: 6px solid var(--color-primary);
}
.feature-contents .section-description {
	max-width: 580px;
	margin-bottom: 30px;
}
.feature-card {
	padding: 30px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.feature-title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 20px;
	color: var(--color-neutral-dark);
}
.feature-banner-container {
	width: 100%;
	position: relative;
}
.feature-banner-container img {
	width: 100%;
}
.experience-card {
	width: fit-content;
	height: fit-content;
	padding: 42px 45px;
	background-color: var(--color-primary);
	color: white;
	border-radius: 8px;
	text-align: center;
	position: absolute;
	bottom: -60px;
	left: -20px;
}
.experience-card h2 {
	font-weight: 700;
	font-size: 60px;
}
.experience-card p {
	font-weight: 500;
	font-size: 25px;
}

/* PORTFOLIO SECTION */
.portfolio-section .section-title {
	padding: 0 0 0 20px;
	margin-bottom: 24px;
	border-left: 6px solid var(--color-primary);
}
.menu-bar {
	justify-content: space-between;
	margin-bottom: 30px;
}

.filters label {
	color: var(--color-secondary-light);
	margin-right: 10px;
}

.filters select,
.search input {
	font-size: 16px;
	letter-spacing: 2px;
	padding: 8px 10px;
	border: none;
	outline: none;
}
.filters select {
	border-bottom: 1px solid var(--color-secondary-dark);
}
.search {
	border-bottom: 1px solid var(--color-secondary-dark);
}
.portfolio-gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.portfolio-gallery a {
	padding: 10px 10px 40px 10px;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	transition: all 0.3s ease-in;
}
.portfolio-gallery a img {
	width: 100%;
	height: 100%;
	margin-bottom: 8px;
}
.portfolio-gallery a:hover {
	transform: scale(1.05);
}

.portfolio-gallery a span {
	color: var(--color-secondary-dark);
	font-size: 18px;
	margin: 5px 0;
}
.more-portfolio {
	margin-top: 30px;
	text-align: center;
}
.more-portfolio a {
	color: var(--color-secondary-dark);
}
.more-portfolio a:hover {
	color: var(--color-primary);
	border-bottom: 1px solid var(--color-primary);
}

/* ------------------ */

/* FACTS SECTION */
.facts-section {
	margin: 100px 0;
}
.fact-contents {
	max-width: 600px;
}
.fact-contents .section-description {
	margin: 24px 0 100px 0;
}
.fact-cards-container {
	padding: 0 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: space-around;
	justify-items: center;
	gap: 20px;
}
.fact-card {
	width: 80%;
	height: 100%;
	padding: 20px;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	border: 1px solid var(--color-primary);
	border-radius: 8px;
	text-align: center;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.fact-card h3 {
	animation: anime 6s infinite;
}
@keyframes anime {
	0% {
		transform: scale(1.2);
	}
	25% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

.details-link {
	height: 60%;
	padding: 7px 10px;
	background-color: #424242b0;
	position: absolute;
	bottom: -100%;
	left: 0;
	right: 0;
	transition: all 0.5s ease-in;
}
.details-link a {
	color: #fff;
}

.fact-card:hover .details-link {
	bottom: 0;
}
.details-link a:hover {
	color: var(--color-primary);
}

.fact-card h3 {
	font-weight: 600;
	font-size: 38px;
	color: var(--color-secondary-dark);
}
.fact-card p {
	font-weight: 600;
	font-size: 20px;
	color: var(--color-secondary-light);
}

/* SPONSORS SECTION */
.sponsors-section {
	margin: 50px 0;
}
.sponsor-contents {
	text-align: center;
}
.sponsor-contents .section-description {
	width: 60%;
	margin: 24px auto;
}
.sponsors-list {
	margin-top: 50px;
	justify-content: space-between;
	gap: 50px;
}
.sponsors-list li img {
	width: 100%;
	filter: grayscale(100%);
	transition: all 0.5s;
}
.sponsors-list li img:hover {
	filter: none;
	transform: scale(1.3) rotate(360deg);
}

/* FOOTER */
.copyright-section {
	margin: 100px 0;
	padding: 40px 50px;
	background-color: var(--color-bg-primary);
	border-radius: 8px;
}
.copyright-text {
	font-size: 20px;
	color: var(--color-secondary-dark);
	text-align: center;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

/* MEDIUM DEVICES */
@media only screen and (max-width: 992px) {
	header,
	section,
	footer {
		padding: 0 80px;
	}
	.section-title {
		font-size: 38px;
	}
	.btn-primary {
		font-size: 18px;
	}

	/* NAVBAR */
	.navbar {
		padding: 20px 0;
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}
	.logo h2 {
		font-size: 38px;
	}
	/* HERO SECTION */
	.hero-title {
		font-size: 48px;
	}

	/* QUICK LIST SECTION */
	.quick-list-section {
		padding: 30px 100px;
		flex-direction: column-reverse;
		gap: 30px;
		text-align: center;
	}

	/* FEATURES SECTION */
	.features-section {
		flex-direction: column;
	}
	.feature-contents-container {
		width: 100%;
	}
	.experience-card {
		padding: 32px 35px;
		top: -50px;
	}
	.experience-card h2 {
		font-size: 40px;
	}
	.experience-card p {
		font-size: 22px;
	}
	/* PORTFOLIO SECTION */
	.filters select,
	.search input {
		font-size: 14px;
	}
	.portfolio-gallery {
		grid-template-columns: repeat(2, 1fr);
	}

	/* FACTS SECTION */
	.fact-cards-container {
		grid-template-columns: repeat(2, 1fr);
	}

	/* SPONSORS SECTION */

	/* FOOTER */
	.copyright-text {
		font-size: 16px;
	}
}

/* SMALL DEVICES */
@media only screen and (max-width: 576px) {
	header,
	section,
	footer {
		padding: 0 20px;
	}
	.section-title {
		font-size: 32px;
	}
	.btn-primary {
		font-size: 16px;
	}

	/* NAVBAR */
	.logo h2 {
		font-size: 32px;
	}
	.nav-links {
		flex-direction: column;
		gap: 20px;
	}
	/* HERO SECTION */
	.hero-section {
		flex-direction: column-reverse;
	}
	.hero-contents-container {
		margin: 10px 0 30px 0;
	}
	.hero-title {
		font-size: 38px;
	}
	.hero-image img {
		margin: 20px 0;
	}

	/* QUICK LIST SECTION */
	.quick-list-section {
		padding: 30px 30px;
		flex-direction: column;
	}
	.quick-list-section .image-container {
		/* grid-template-columns: repeat(1, 1fr); */
		gap: 16px;
		margin-bottom: 20px;
	}

	/* FEATURES SECTION */
	.fact-contents {
		text-align: center;
	}
	.experience-card {
		padding: 22px 25px;
		top: -50px;
		left: -10px;
	}
	.experience-card h2 {
		font-size: 28px;
	}
	.experience-card p {
		font-size: 18px;
	}

	/* PORTFOLIO SECTION */
	.menu-bar {
		flex-direction: column-reverse;
		gap: 20px;
	}
	.portfolio-gallery {
		grid-template-columns: repeat(1, 1fr);
	}

	/* FACTS SECTION */
	.fact-contents .section-description {
		margin-bottom: 50px;
	}
	.fact-cards-container {
		grid-template-columns: repeat(1, 1fr);
	}

	/* SPONSORS SECTION */
	.sponsor-contents .section-description {
		width: 100%;
	}
	.sponsors-list {
		flex-direction: column;
	}

	/* FOOTER */
	.copyright-text {
		font-size: 14px;
	}
}
